{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/Contacto/banner.jpg" alt=" Caption 1">
      <div class="carousel-caption">
       <!-- <h3 >LOREM IPSUM </h3>-->
        
      </div>
    </div>
   
  </div>
{% endblock  %}


{% block content %}
<style type="text/css">
  .carousel-caption{display: none;}
</style>
    <div class="row">
      <div class="col-sm-12 page-title text-center">
        <!--<h2>{{page.title}}</h2>-->
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 page-title text-center white-bg visible-xs">
          <h1 class="montserrat bold">Contacto</h1>
        </div>
        <div class="col-sm-8 col-xs-12 col-sm-offset">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center formulario-izquierdo">
            <form role="form" class="form" id="form">
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-nombre">Nombre</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text"required name="nombre" class="form-control without-borders" id="form-nombre">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-email">Apellidos</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="apellidos" class="form-control without-borders" id="form-email" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-tel">E-mail</label>
                <div class="col-md-8 col-xs-12">
                  <input type="email" required name="email" class="form-control without-borders" id="form-tel">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-asunto">¿A qué te dedicas?</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="ocupacion" class="form-control without-borders" id="form-asunto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-interesado">Interesado en:</label>
                <div class="col-md-8 col-xs-12">
                  <select required name="interesado" class="form-control without-borders" id="form-interesado">
                    <option value="volvo"></option>
                    <option value="volvo">Información</option>
                    <option value="saab">Asistente</option>
                    <option value="mercedes">Aliado</option>
                    <option value="audi">Ponente</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-mensaje">Mensaje</label>
                <div class="col-md-8 col-xs-12">
                  <textarea name="mensaje" class="form-control without-borders" id="form-mensaje" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8 col-md-offset-4 col-xs-12">
                 <input style="width: 14px;float: left;" type="checkbox" name="info" value="Si" class="form-control without-borders" id="form-info"><label style="float: left;margin-left: 15px;font-size: 12px;margin-top: 13px;" for="form-info">Deseo Recibir Información de TED<sup>x</sup>Cancún</label>
                </div>
              </div>

              <button type="submit" class="btn-enviar background4 red-bordered">Enviar</button>

              <span id="response"></span>

            </form>
            </div>
          </div>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-xs-12 text-center borde-f-d">
           <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-left formulario-derecho">
                <h1 class="bold hidden-xs" style="font-size:18px; margin-left:20px;">!CONTACTANOS¡</h1>
                <p class="flaticon-facebook29"> /TEDxCancun</p>
                <p class="flaticon-instagram7"> @TEDxCancun</p>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
    </div>   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
    $('.form').validate({
                submitHandler: function(form) {
                      $.ajax("send_mail_contacto.php",{
                    data:$(".form").serialize(),
                    type:'post',
                    cache:false,
                    beforeSend: function(result){
                        $("#response").html("Enviando...")
                    },
                    success: function(result){
                        //alert(result)
                        $("#response").html(result);
                         $('.form').each(function(){
                            this.reset();
                          });
                    },
                    error:function(result){

                    }
                    })
              }})
  });
</script>
{% endblock  %}
