{% extends "layout.html" %}
{% block slider %}
  {#<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/Tedx/banner.jpg" alt=" Caption 1">
      <div class="carousel-caption">
       <!-- <h3 >LOREM IPSUM </h3>-->
      </div>
    </div>
   
  </div>#}
{% endblock  %}


{% block content %}
<style type="text/css">
  .carousel-caption{display: none;}
</style>
    <div class="row">
      <div class="col-sm-12 page-title text-center white-bg">
        <h1 class="montserrat bold">FAQS</h1>
      </div>
      <div class="col-sm-10 col-sm-offset-1 page-title text-center white-bg margin-bottom-30">
        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">1. ¿Por qué TED<sup>x</sup> en Cancún?</span><br>
        Porque queremos reflejar el dinamismo que se vive hoy en Cancún al representar una comunidad joven, multicultural, dinámica y propositiva que construye su propia identidad local y teje el futuro de la ciudad. TED<sup>x</sup> será una plataforma para difundir las ideas que han sido pilares de nuestra comunidad y darán rumbo a nuestra Cancún. </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">2. ¿Cuándo y dónde será el evento?</span><br> 
        <b>TED<sup>x</sup>Cancún</b> se realizará el viernes 18 de septiembre de 2015 en el Planetario de Cancún, Ka’Yok’.  Para más información sobre la sede visita www.ventanaaluniverso.org. El evento se realizará en el centro de la ciudad porque está dirigido a la comunidad de Cancún, o sea los “locales”, por tanto, nuestra licencia <b>TED<sup>x</sup></b> nos marca que se debe realizar en un sitio cercano a donde vive la gente y con el cual se identifiquen.</p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">3. ¿Cuál será el tema del evento?</span><br> 
        El tema de <b>TED<sup>x</sup>Cancun</b> es <b>[Raíces + Ideas = Identidad]</b> y se ha propuesto porque con una población creciente y apenas 45 años de fundación, Cancún es una ciudad cosmopolita, dinámica y que se está autodefiniendo como comunidad a partir de su riqueza cultual y natural, su gente y la fusión de tradiciones, proyectos y propuestas.</p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">4. ¿Cómo puedo ser uno de los ponentes TED<sup>x</sup>Cancún?</span><br>
        Si vives en Cancún (no importa tu nacionalidad) y tienes una idea que consideras debe ser transmitida, que se ajuste al tema <b>[Raíces + Ideas = Identidad]</b>, puedes aplicar para ser ponente <b>TED<sup>x</sup>Cancún</b>. Utiliza el formulario que se encuentra en la sección ponentes de esta página, ¡mucha suerte! Para cualquier duda puedes escribir a <b>tuidea@tedxcancun.com</b> </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">5. ¿Cómo puedo asistir al evento?</span><br>
        La asistencia al evento será mediante una convocatoria para los residentes de Cancún. Para aplicar, utiliza el formulario que se encuentra en la sección <b>TED<sup>x</sup>Cancún</b> de esta página. La convocatoria estará abierta a partir de Mayo de 2015. Promovemos la inclusión y estamos abiertos a cubrir las necesidades de nuestros asistentes, por lo que, si tienes alguna necesidad especial te pedimos que lo indiques en la convocatoria. </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">6. ¿El cupo es limitado?</span><br>
        Sí. Nuestra licencia <b>TED<sup>x</sup></b> está restringida para un máximo de 100 asistentes al evento.  </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">7. ¿Qué es una licencia TEDx?</span><br>
        Para poder organizar un evento <b>TED<sup>x</sup></b>, pasamos por un cuidadoso proceso de aplicación en <b>TED.com.</b> Una vez aprobada la propuesta, se obtiene una licencia <b>TEDx</b> en la cual se especifican las condiciones, reglas y políticas a seguir para la organización del evento.   </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">8. ¿Tiene costo el evento?</span><br>
        El boleto de acceso es personal y sí tiene costo. El dinero recaudado se reinvierte en la organización del evento (como lo establece nuestra licencia <b>TED<sup>x</sup></b>) ya que, por su naturaleza no lucrativa, es un proyecto que funciona a partir de patrocinios y contribuciones de la comunidad. El pago de tu boleto será tu confirmación de asistencia. Una vez realizado el pago no se efectuarán reembolsos, incluso posteriores al evento si por alguna causa no pudiste asistir. </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">9. ¿Habrá servicio de alimentos y bebidas?</span><br>
        Sí. Tendremos recesos de café y además se ofrecerá la comida (incluida en el pago de tu boleto). </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">10. ¿Puedo entrar y salir del evento?</span><br>
        Una vez iniciado el evento en el auditorio, no se permitirá el ingreso o salida de ningún asistente. Contaremos con tiempos de receso entre las ponencias. Tampoco se podrán introducir alimentos al auditorio durante las presentaciones (no queremos que huela a torta de cochinita allí adentro).</p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">11. ¿Puedo grabar las presentaciones?</span><br>
        Sabemos que hoy día todo lo registramos en nuestros smartphones, pero en esta ocasión NO. No estará permitido el uso de celulares, cámaras y dispositivos móviles para grabar las ponencias, tanto por respeto a nuestros conferencistas, como por políticas de privacidad de contenidos de cada charla, conforme a la licencia <b>TED<sup>x</sup>.</b></p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">12. ¿Puedo bloguear, tuitear y publicar lo que pasa en el evento?</span><br>
        ¡Sí, por favor! Queremos dar a conocer lo que ocurra durante <b>TED<sup>x</sup>Cancún</b>, ayúdanos a difundirlo desde tu experiencia, usando los hashtags del evento. </p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">13. No pude asistir al evento, pero quiero ver las ponencias, ¿qué tengo que hacer?</span><br>
        Todas las presentaciones serán grabadas y editadas para difundirse posteriormente a través del canal oficial de <b>TED<sup>x</sup>Talks</b> en YouTube. Las encontrarás a más tardar un mes después del evento. Además, posterior al evento oficial, organizaremos proyecciones gratuitas de las ponencias en sitios de fácil acceso (universidades, plazas, etc.) para difundir las ideas de <b>TED<sup>x</sup>Cancún.</b></p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">14. ¿En qué idioma serán las ponencias?</span><br>
        Se presentarán charlas en inglés o español.</p>

        <p class="montserrat text-justify margin-bottom-15"><span class="red-color bold">15. ¿De qué otras formas puedo participar?</span><br>
        TED<sup>x</sup> es una comunidad que suma esfuerzos e ideas para el bienestar local. Por lo que:<br>
        - Si te interesa ser voluntario antes y durante el evento escríbenos a hola@tedxcancun.com  <br>
        - Si formas parte de algún proyecto en Cancún de cualquier tema pero que sea innovador, con causa y valor social dirigido a mejorar nuestra ciudad, queremos saber de él. Parte de la misión de los eventos <b>TED<sup>x</sup></b> es generar sinergias y conexiones para construir una mejor comunidad.</p>

      </div>
    </div>   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
{% endblock  %}