{% extends "layout.html" %}
{% block slider %}
  <!-- Indicators -->
  {# <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> #}
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/Contacto/banner.jpg" alt=" Caption 1">
      <div class="carousel-caption">
       <!-- <h3 >LOREM IPSUM </h3>-->
        
      </div>
    </div>
   
  </div>
{% endblock  %}


{% block content %}
    <div class="row">
      <div class="col-sm-12 page-title text-center">
        <h2>{{page.title}}</h2>
      </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

            </div>
          </div>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 text-center ">
           <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 text-center">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

            </div>
          </div>
        </div><!-- /.col-lg-4 -->
    </div>


    <div class="row ">

    </div>
   
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
  });
</script>
{% endblock  %}