{% extends "layout.html" %}
{% block slider %}
  {#<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>#}
  <!-- Wrapper for slides -->
  <div id="carousel-home" class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/img/Ponentes/banner.jpg" alt=" Caption 1">
      <a href="#" class="hidden-xs"><div class="carousel-caption boton-home">
       <h2 class="bold" style="margin-top:10px;">PARTICIPA COMO PONENTE</h2>
      </div></a>
    </div>
   
  </div>
{% endblock  %}


{% block content %}

    <div class="row">
      <div class="col-sm-12 page-title text-center white-bg">
        <h1 class="montserrat bold">Ponentes</h1>
      </div>
      <div class="col-sm-10 col-sm-offset-1 page-title text-center white-bg">
        <p class="montserrat text-center" style="margin-bottom:20px;">¿Tienes una idea que merece ser compartida? ¡Participa como Ponente!</p>
        <p class="montserrat text-justify ">Bajo el tema <b>[Raíces + Ideas = Identidad]</b>, el 18 de Septiembre de 2015 se realizará el primer <b>TED<sup>x</sup>Cancún</b>, evento sin fines de lucro, apegado a las reglas y requisitos que otorga la licencia <b>TEDx</b> en todo el mundo.  </p>

        <p class="montserrat text-justify "><b>TED<sup>x</sup>Cancún</b> reunirá en un solo día a conferencistas internacionales, nacionales y locales, quienes expondrán ante un selecto público, ideas innovadoras o experiencias de vida que contribuyan a tejer una comunidad con identidad propia.  </p>

        <p class="montserrat text-justify ">En <b>TED<sup>x</sup>Cancún</b> estamos en la búsqueda de conferencistas que deseen ser parte de este movimiento global del que varias ciudades de México ya forman parte. Las siguientes preguntas y respuestas te ayudarán a saber si tú puedes ser parte de este evento. </p>

        <p class="montserrat text-justify"><span class="red-color bold">¿Quiénes pueden participar como ponentes en TED<sup>x</sup>Cancún? </span><br> 
        Personas residentes en el Municipio de Benito Juárez, Quintana Roo, con una idea o experiencia de vida que esté alineada al tema del evento <b>Raíces + Ideas = Identidad</b>, que merezca ser difundida y que sea: 
        <ul class="text-left">
          <li>-Innovadora</li>
          <li>-Propositiva</li>
          <li>-Educativa</li>
          <li>-Creativa</li>
          <li>-Que genere debate</li> 
          <li>-Auténtica</li> 
          <li>-Autóctona</li> 
          <li>-Incluyente</li>
        </ul></p>

        <p class="montserrat text-justify"><span class="red-color bold">¿Qué necesitas para participar?</span><br>
        Llenar el formulario disponible en la sección de Ponentes del sitio <b>www.tedxcancun.com</b> y presentar tu idea, ya sea a través de un escrito de máximo una cuartilla o un video de máximo dos minutos, en donde expliques cómo puede ésta contribuir a crear una comunidad dinámica, propositiva y con identidad propia. </p>

        <p class="montserrat text-justify">
        Tu idea deberá reflejar un planteamiento acorde al tema del evento <b>TED<sup>x</sup>Cancún</b>, y no deberá incluir contenido: promocional, afiliado a algún partido político u organización religiosa, discriminatorio, que incite a la violencia o que presente proyectos profesionales personales. La idea deberá perdurar en la mente de los asistentes, aportar algo a su vida y generar un impacto positivo en la sociedad de Cancún. </p>
        <p class="montserrat text-justify">
        Las aplicaciones estarán abiertas hasta el <b>25 de mayo.</b> No serán válidas las propuestas recibidas en días posteriores al cierre de la convocatoria. El envío de tu propuesta no asegura tu presencia como ponente o asistencia al evento. De resultar seleccionado recibirás una notificación y los detalles de tu participación a tu dirección de correo electrónico. Adicionalmente, los resultados serán publicados en nuestra página oficial <b>www.tedxcancun.com</b> </p>

        <p class="montserrat text-justify"><span class="red-color bold">¿Quiénes integran el comité TED<sup>x</sup>Cancún?</span><br>
        El comité organizador de <b>TED<sup>x</sup>Cancún</b> está integrado por un grupo de ciudadanos residentes en la zona, quienes cumplieron uno a uno los requisitos para obtener la <b>licencia TED<sup>x</sup></b>. Cada integrante del comité desempeña una función específica siguiendo un esquema sugerido por el licenciatario.</p>

        <p class="montserrat ext-justify"><span class="red-color bold">¿Cómo se realiza el proceso de selección de los ponentes? </span><br>
        En <b>TED<sup>x</sup>Cancún</b> todas las decisiones se toman en equipo hasta lograr un consenso. Para la selección de los conferencistas, los integrantes del comité organizador evaluarán cada una de las postulaciones bajo los criterios definidos por la licencia <b>TEDx.</b> </p>

        <p class="montserrat text-justify">En <b>TED<sup>x</sup>Cancún</b> buscamos a las ideas, no a los individuos. </p>

        <p class="montserrat text-justify"><span class="red-color bold">¿Qué pasará si resultas seleccionad@?  </span><br>
        De resultar seleccionad@ tendrás la oportunidad de participar como ponente en <b>TED<sup>x</sup>Cancún</b> y exponer tu idea o experiencia de vida ante un selecto público en el evento que se realizará el 18 de septiembre y que tendrá como sede el Planetario de Cancún. Previo al evento se tendrán una serie de actividades, sesiones informativas y de coaching. Tu participación como ponente no incluye pago o remuneración de ningún tipo.</p>

        <p class="montserrat text-justify"><span class="red-color bold">¿Cómo se difunden las ideas?</span><br>
        Durante el día del evento todas las conferencias serán grabadas en video y posteriormente subidas al canal YouTube de <b>TEDx Talks.</b>   Igualmente el comité organizador de <b>TED<sup>x</sup>Cancún</b> dará difusión a las charlas en eventos posteriores.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 page-title text-center white-bg linea-punteada-home">
        <hr class="col-sm-12 dash margin-top-30 margin-bottom-30">
      </div>
      <div class="col-sm-12 page-title text-center white-bg">
        <h1 clas="montserrat bold">Aplica como ponente</h1>
      </div>
      <div class="col-sm-10 col-sm-offset-1 page-title text-center white-bg margin-bottom-30">
        <p class="montserrat text-left red-color"><b>QUEREMOS CONOCERTE</b></p>
            <form role="form" class="form" id="form">
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-foto">Sube tu fotografia</label>
                <div class="col-md-5 col-xs-12">
                  <input type=file size=60 required name="foto" class="form-control without-borders" id="form-foto">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-nombre">Nombre Completo</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text"required name="nombre" class="form-control without-borders" id="form-nombre">
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-email">Correo Electronico</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="email" class="form-control without-borders" id="form-email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-tel">Teléfono</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="tel" class="form-control without-borders" id="form-tel" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-edad">Edad</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="edad" class="form-control without-borders" id="form-edad">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-nacionalidad">Nacionalidad</label>
                <div class="col-md-8 col-xs-12">
                  <input  required name="nacionalidad" class="form-control without-borders" id="form-nacionalidad">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-anio">¿En qué año llegaste a Cancún?</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="anio" class="form-control without-borders" id="form-anio">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-residencia">Ciudad actual de residencia</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="residencia" class="form-control without-borders" id="form-residencia">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-ocupacion">¿A qué te dedicas?</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="ocupacion" class="form-control without-borders" id="form-ocupacion">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-residencia">Ciudad actual de residencia</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="residencia" class="form-control without-borders" id="form-residencia">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-twitter">Twitter (opcional)</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="twitter" class="form-control without-borders" id="form-twitter">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-pagina">Blog o pagina personal (opcional)</label>
                <div class="col-md-8 col-xs-12">
                  <input type="text" required name="pagina" class="form-control without-borders" id="form-pagina">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-describes">¿Cómo te describes?</label>
                <div class="col-md-8 col-xs-12">
                  <textarea name="describes" class="form-control without-borders" id="form-describes" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-experienci">¿Qué experiencia tienes como ponente?</label>
                <div class="col-md-8 col-xs-12">
                  <textarea name="experiencia" class="form-control without-borders" id="form-experiencia" rows="3"></textarea>
                </div>
              </div><br>

              <hr class="col-sm-12 dash margin-top-30 margin-bottom-30" style="width:97%;">

              
              <p class="montserrat text-left red-color">TU IDEA</p>

              <div class="form-group">
                <label class="col-md-4 col-xs-12" for="form-titulo">¿Qué titulo le darias a tu charla?</label>
                <div class="col-md-12 col-xs-12">
                  <input type="text" required name="titulo" class="form-control without-borders" id="form-titulo">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12 col-xs-12" for="form-area">¿A qué área tematica pertenece tu idea? (ej. innovación, ciencia, historia, sustentabilidad, inclusión, desarrollo comunitario, etc.)</label>
                <div class="col-md-12 col-xs-12">
                  <input type="text" required name="area" class="form-control without-borders" id="form-area">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12 col-xs-12" for="form-idea">¿Cuál es tu idea? Considera cómo puede contribuir a crear una comunidad dinamica, positiva y con identidad propia. Para presentar tu idea tienes dos opciones:</label>
                  <ul class="text-left margin-left-40">
                    <li>a). Presentarla por escrito en el recuadro a continuacion (maximo 50 palabras)</li>
                    <li>b). Presentar tu idea en un video de maximo 2 minutos, en el que tu salgas hablando. Subelo a Youtube y copia el link del video en el recuadro a continuación. </li>
                  </ul>
                <div class="col-md-12 col-xs-12">
                  <textarea name="idea" class="form-control without-borders" id="form-idea" rows="3"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12 col-xs-12" for="form-mas">Algo más que nos quieras compartir y no hayamos preguntado.</label>

                <div class="col-md-12 col-xs-12">
                  <textarea name="mas" class="form-control without-borders" id="form-mas" rows="3"></textarea>
                </div>
              </div>

              <button type="submit" class="btn-enviar background4 red-bordered">Enviar</button>

              <span id="response"></span>


            </form>
      </div>
    </div>     
{% endblock %}
{% block js %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("li.home").addClass("active");
    $('.form').validate({
                submitHandler: function(form) {
                      $.ajax("send_mail_contacto.php",{
                    data:$(".form").serialize(),
                    type:'post',
                    cache:false,
                    beforeSend: function(result){
                        $("#response").html("Enviando...")
                    },
                    success: function(result){
                        //alert(result)
                        $("#response").html(result);
                    },
                    error:function(result){

                    }
                    })
              }})
  });
</script>
{% endblock  %}